<a href="https://colab.research.google.com/github/mins0711/colab/blob/main/Lession2_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a=100
b=200
c = a + b

print(a, "+", b, "=", c)

100 + 200 = 300

In [4]:
num1=500
num2=200
result = num1 - num2

print(num1, "-", num2, "=", result)

500 - 200 = 300

In [5]:
num1=8
num2=17
result = num1 * num2

print(num1, "*", num2 ,"=", result)

8 * 17 = 136

In [6]:
num1=8
num2=17
result=num1 / num2

print(num1, "/", num2, "=", result)

8 / 17 = 0.47058823529411764

In [7]:
num1,num2 = 4,2
result1 = num1 % num2
print(num1, "%", num2, "=", result)

4 % 2 = 0.47058823529411764

In [8]:
num1,num2=4,2
result=num1//num2
print(num1,"//", num2, "=",result)

4 // 2 = 2

안산공고+컴퓨터과=안산공고컴퓨터과

In [11]:
str1= "안산공고"
str2="컴퓨터과"
result=str1+str2

print(str1, "+",str2, "=", result)

안산공고 + 컴퓨터과 = 안산공고컴퓨터과

2장 형성뺴기 첫번쨰

In [14]:
num1=100
num2=200
result1=num1+num2
result2=num1-num2
result3=num1*num2
result4=num1/num2

print(num1,"+", num2,"=", result1)
print(num1,"-", num2,"=", result2)
print(num1,"*", num2,"=", result3)
print(num1,"/", num2,"=", result4)

100 + 200 = 300
100 - 200 = -100
100 * 200 = 20000
100 / 200 = 0.5

2장 입력받는 값(input)

In [18]:
num1=int(input("첫번째 숫자 입력 ==>"))
num2=int(input("두번째 숫자 입력 ==>"))
result=num1+num2

print(num1, "+", num2, "=", result)

첫번째 숫자 입력 ==>100
두번째 숫자 입력 ==>200
100 + 200 = 300

이름과 전화번호

In [25]:
num1=input("이름이 무엇인가요?==>")
num2=input("전화번호를 입력해주세요==>")
result=num1+num2

print(num1 ,"+", num2, "=", result)

이름이 무엇인가요?==>남궁혁
전화번호를 입력해주세요==>010-1234-1234
남궁혁 + 010-1234-1234 = 남궁혁010-1234-1234

소스코드

In [27]:
print("##택배를 보내기 위한 정보를 입력하세요.##")
personName = input("받는사람 :")
personAddr = input("주소 :")
wegiht = int(input("무게(g) :"))

print("**받는 사람 ==>",personName)
print("**주소 ==>",personAddr)

print("**무게(g) ==>",wegiht)

##택배를 보내기 위한 정보를 입력하세요.##
받는사람 :남궁혁
주소 :서울
무게(g) :5
**받는 사람 ==> 남궁혁
**주소 ==> 서울
**무게(g) ==> 5

In [33]:
#!pip3 install ColabTurtle
import ColabTurtle.Turtle as turtle

turtle.initializeTurtle(1)
turtle.forward(50)
turtle.left(90)
turtle.forward(90)

괄호

In [30]:
num1=int(input("숫자1 ==>"))
num2=int(input("숫자2 ==>"))
result1=num1 + num2
result2=num1 - num2
result3=num1 * num2
result4=num1 / num2
result5=num1 % num2
result6=num1 ** num2


print(num1,"+", num2,"=", result1)
print(num1,"-", num2,"=", result2)
print(num1,"*", num2,"=", result3)
print(num1,"/", num2,"=", result4)
print(num1,"%", num2,"=", result5)
print(num1,"**", num2,"=", result6)

숫자1 ==>1
숫자2 ==>2
1 + 2 = 3
1 - 2 = -1
1 * 2 = 2
1 / 2 = 0.5
1 % 2 = 1
1 ** 2 = 1